html
{
    background: url('../img/main.gif') top left #EEEEEE;
}


body
{
    background: url('../img/sidebar.gif') top left repeat-y;
    min-width: 1000px;
    min-height: 800px;
    text-align: left;
    margin: 0px;
    font-family: arial;
    font-size: 12px;
    color: #666666;
}
body.no-side
{
    background: none;
    color: #333333;
    min-height: 100%;
    margin-bottom: 100px;
}
/*
.clear:after
{
    content: ".";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
    visibility: hidden;
}
/*
.clean-margin
{
    margin: 0px !important;
}
.clean-padding
{
    padding: 0px !important;
}

.half
{
    width: 48% !important;
}
.full
{
    width: 80% !important;
}
.fl
{
    float: left;
}
.fr
{
    float: right;
}
.fl-space
{
    float: left;
    margin-right: 5px;
}
.fr-space
{
    float: right;
    margin-left: 5px;
}
.fl-space2
{
    float: left;
    margin-right: 10px;
}
.fr-space2
{
    float: right;
    margin-left: 10px;
}

a
{
    color: #0084FF;
    text-decoration: none;
}
a:hover
{
    color: #0084FF;
    text-decoration: underline;
}

strong
{
    color: #333333;
}
small
{
    font-size: 11px;
    line-height: 14px;
    display: block;
}

*/

/***************************/
/********** LOGIN **********/
/***************************/

.login-box
{
    width: 600px;
    margin: 0px auto;
    background: url('../img/bck_black_10.png');
    margin-top: 100px;
    padding: 10px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}
.login-border
{
    border: 1px solid #cccccc;
    background: url('../img/bck_white_50.png');
}
.login-style
{
    border: 3px solid #FFFFFF;
    background: url('../img/login.jpg') center center no-repeat;
}
.login-header
{
    height: 71px;
    background: url('../img/login_header.png') center bottom no-repeat;
    padding: 15px 15px 0px 15px;
}
.login-header .logo
{
    width: auto;
    margin: 0px;
    padding-top: 0px;
}
.login-header .logo .title
{
    width: 400px;
}
.login-header .logo .text
{
    width: 400px;
    color: #333333;
}
.login-inside
{
    height: 227px;
    padding-top: 35px;
    border-bottom: 1px solid #00D2FF;
}
.login-inside p
{
    text-align: center;
    padding-bottom: 10px;
}
.login-data
{
    width: 310px;
    padding: 40px 10px 95px 30px;
    background: url('../img/bck_white_50.png');
    margin: 0px auto;
    -moz-border-radius: 15px 15px 15px 15px;
    -webkit-border-radius: 15px 15px 15px 15px;
    border-radius: 15px 15px 15px 15px;
    margin-bottom: 20px;
}
.login-data label
{
    display: block;
    width: 80px;
    float: left;
    line-height: 22px;
    text-align: right;
    margin-right: 10px;
}
.login-data .row
{
    padding-bottom: 10px;
}
.login-data .submit
{
    margin-left: 90px;
}
.login-footer
{
    border-top: 1px solid #FFFFFF;
    background: url('../img/bck_black_70.png');
    height: 22px;
    padding: 10px 15px 10px 15px;
}
.login-footer .remember
{
    color: #FFFFFF;
    line-height: 22px;
    display: block;
    float: left;
    font-weight: bold;
}
.login-footer .remember label
{
    margin-left: 3px;
}
.login-footer a
{
    color: #FFFFFF;
    text-decoration: none;
    background: url('../img/bck_white_20.png');
    font-size: 11px;
    font-weight: bold;
    display: block;
    padding: 0px 15px 0px 15px;
    line-height: 22px;
}
.login-footer a:hover
{
    color: #FFFFFF;
    text-decoration: none;
    background: url('../img/bck_white_30.png');
}


/*********************************/
/********** PAGE LAYOUT **********/
/*********************************/


.sidebar
{
    width: 196px;
    float: left;
    padding: 0px 20px 0px 24px;
}
.main
{
    margin-left: 285px;
    margin-right: 20px;
}
.main-wrap
{
    width: 100%;
    float: left;
}
.page
{
    padding-right: 12px;
    padding-bottom: 50px;
}


.logo
{
    width: 196px;
    margin-top: 25px;
    margin-bottom: 35px;
}
.logo a
{
    text-decoration: none;
}
.logo .picture
{
    float: left;
    margin-right: 10px;
}
.logo .uniadmin
{
    margin-top: 15px;
    float: left;
}
.logo .title
{
    display: block;
    font-family: Times New Roman;
    font-size: 25px;
    color: #FFFFFF;
    font-weight: bold;
    margin-top: 7px;
    float: left;
}
.logo .text
{
    display: block;
    font-weight: bold;
    color: #FFFFFF;
    position: relative;
    top: 20px;
    float: left;
    left: 5px;
}
.page td.title
{
    background: url('../img/bck_white_75.png') top left;
    font-weight: bold;
    white-space: nowrap;
}

label
{
    line-height: 22px;
    cursor: auto;
}


.form-label
{
    display: block;
    width: 150px;
    font-weight: bold;
}
/* *********************************************************************
 * Custom forms
 * *********************************************************************/

.form
{
    margin: 0px;
    padding: 0px;
}
.form input
{
    font-family: 'Arial' , sans-serif;
    font-size: 11px;
    outline: 0;
}
.form-field
{
}
.form-field .form-label
{
}
.form-field .form-text
{
}
.form-field .form-password
{
}
.form-field .form-textarea
{
}
.form-field .form-select
{
}

.form-field .form-checkbox
{
}
.form-field .form-checkbox-item
{
}
.form-field .form-checkbox-item .title
{
}

.form-field .form-radio
{
}
.form-field .form-radio-item
{
}
.form-field .form-radio-item .title
{
}








/* *********************************************************************
 * Quick edit
 * *********************************************************************/
/* 
/* Buttons */

.btn, .btn-icon, .btn-mini
{
    background-repeat: repeat-x;
    color: #FFF;
    font-weight: bold;
    display: inline-block;
    text-decoration: none;
    border-width: 1px;
    border-style: solid;
    padding: 0 15px 4px;
    padding: 0 7px 4px;
    margin: 0;
    text-shadow: 1px 1px 1px rgba(0,0,0,.2);
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0,.25);
    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,.25);
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#999999,direction=135,strength=2);
    cursor: pointer;
    position: relative;
}


input.button
{
    margin: 0;
    padding: 4px 8px 4px 8px;
    background: #D4D0C8;
    border-top: 1px solid #FFFFFF;
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #404040;
    border-bottom: 1px solid #404040;
    color: #000000;
}


.btn-pink:visited
{
    background-color: #FF0066;
    border-color: #DA0C59;
}
.btn-pink:hover
{
    background-color: #DA0C59;
}

.btn-blue, .btn-blue:visited
{
    background-color: #066ECD;
    border-color: #0561B4;
    border-radius : 5px 5px 5px 5px;
}
.btn-blue:hover
{
    background-color: #0561B4;
}

.btn-red, .btn-red:visited
{
    background-color: #E40001;
    border-color: #CC0000;
}
.btn-red:hover
{
    background-color: #CC0000;
}

.btn-green, .btn-green:visited
{
    background-color: #77B32F;
    border-color: #689C29;
}
.btn-green:hover
{
    background-color: #689C29;
}

.btn-black, .btn-black:visited
{
    background-color: #111;
    border-color: #000;
}
.btn-black:hover
{
    background-color: #000;
}

.btn-purple, .btn-purple:visited
{
    background-color: #7B0F75;
    border-color: #6A0D66;
}
.btn-purple:hover
{
    background-color: #6A0D66;
}

.btn-navy, .btn-navy:visited
{
    background-color: #002142;
    border-color: #00172F;
}
.btn-navy:hover
{
    background-color: #00172F;
}

.btn-maroon, .btn-maroon:visited
{
    background-color: #750000;
    border-color: #530000;
}
.btn-maroon:hover
{
    background-color: #530000;
}

.btn-yellow, .btn-yellow:visited
{
    background-color: #FFCC00;
    border-color: #D9AD01;
}
.btn-yellow:hover
{
    background-color: #D9AD01;
}

.btn-teal, .btn-teal:visited
{
    background-color: #39A7B6;
    border-color: #2E8794;
}
.btn-teal:hover
{
    background-color: #2E8794;
}

.btn-orange, .btn-orange:visited
{
    background-color: #F90;
    border-color: #D58000;
    color: #FFF;
}
.btn-orange:hover
{
    background-color: #D58000;
    color: #FFF;
}

.btn-grey, .btn-grey:visited
{
    background-color: #999;
    border-color: #888;
    color: #FFF;
}
.btn-grey:hover
{
    background-color: #888;
    color: #FFF;
}


/* Images Overlays - Gradient Effect */
/* 50% Opacity for darker colors */
.btn-blue, .btn-black, .btn-purple, .btn-navy, .btn-maroon, .btn-teal, .btn-grey
{
    background-image: url(../img/bg-dark.png) !important;
}


/* 65% opacity for lighter colors */
.btn-red, .btn-orange, .btn-green, .btn-yellow, .btn-pink
{
    background-image: url(../img/bg-lite.png) !important;
}

/* Set default button colors */
.btn, .btn-icon, .btn-mini, .btn:visited, .btn-icon:visited, .btn-mini:visited
{
    background-image: url(../img/bg-lite.png);
    background-color: #F90;
    border-color: #D58000;
    color: #FFF;
}

.btn:hover, .btn-icon:hover, .btn-mini:hover
{
    background-color: #D58000;
    color: #FFF;
}


/* Colors */
.btn-pink, .btn-pink:visited
{
    background-color: #FF0066;
    border-color: #DA0C59;
}
.btn-pink:hover
{
    background-color: #DA0C59;
}

.btn-blue, .btn-blue:visited
{
    background-color: #066ECD;
    border-color: #0561B4;
}
.btn-blue:hover
{
    background-color: #0561B4;
}

.btn-red, .btn-red:visited
{
    background-color: #E40001;
    border-color: #CC0000;
}
.btn-red:hover
{
    background-color: #CC0000;
}

.btn-green, .btn-green:visited
{
    background-color: #77B32F;
    border-color: #689C29;
}
.btn-green:hover
{
    background-color: #689C29;
}

.btn-black, .btn-black:visited
{
    background-color: #111;
    border-color: #000;
}
.btn-black:hover
{
    background-color: #000;
}

.btn-purple, .btn-purple:visited
{
    background-color: #7B0F75;
    border-color: #6A0D66;
}
.btn-purple:hover
{
    background-color: #6A0D66;
}

.btn-navy, .btn-navy:visited
{
    background-color: #002142;
    border-color: #00172F;
}
.btn-navy:hover
{
    background-color: #00172F;
}

.btn-maroon, .btn-maroon:visited
{
    background-color: #750000;
    border-color: #530000;
}
.btn-maroon:hover
{
    background-color: #530000;
}

.btn-yellow, .btn-yellow:visited
{
    background-color: #FFCC00;
    border-color: #D9AD01;
}
.btn-yellow:hover
{
    background-color: #D9AD01;
}

.btn-teal, .btn-teal:visited
{
    background-color: #39A7B6;
    border-color: #2E8794;
}
.btn-teal:hover
{
    background-color: #2E8794;
}

.btn-orange, .btn-orange:visited
{
    background-color: #F90;
    border-color: #D58000;
    color: #FFF;
}
.btn-orange:hover
{
    background-color: #D58000;
    color: #FFF;
}

.btn-grey, .btn-grey:visited
{
    background-color: #999;
    border-color: #888;
    color: #FFF;
}
.btn-grey:hover
{
    background-color: #888;
    color: #FFF;
}


/* Images Overlays - Gradient Effect */
/* 50% Opacity for darker colors */
.btn-blue, .btn-black, .btn-purple, .btn-navy, .btn-maroon, .btn-teal, .btn-grey
{
    background-image: url(../img/bg-dark.png) !important;
}


/* 65% opacity for lighter colors */
.btn-red, .btn-orange, .btn-green, .btn-yellow, .btn-pink
{
    background-image: url(../img/bg-lite.png) !important;
}


/*  Notifications */

.message
{
    padding: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.5);
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.5);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.5);
}
.message h3
{
    margin-top: 0;
}
.message p
{
    margin-bottom: 0;
}

.message.info
{
    border: 1px solid #cadcea;
    background: #e1f2fc;
    background: -webkit-gradient(linear, left top, left bottom, from(#e1f2fc), to(#cae9fd));
    background: -moz-linear-gradient(top,  #e1f2fc,  #cae9fd);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e1f2fc', endColorstr='#cae9fd');
    color: #225b86;
    text-shadow: 0 1px 0 #fff;
}

.message.error
{
    border: 1px solid #eeb7ba;
    background: #fae2e2;
    background: -webkit-gradient(linear, left top, left bottom, from(#fae2e2), to(#f2cacb));
    background: -moz-linear-gradient(top,  #fae2e2,  #f2cacb);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fae2e2', endColorstr='#f2cacb');
    color: #be4741;
    text-shadow: 0 1px 0 #fff;
}

.message.success
{
    border: 1px solid #b8c97b;
    background: #e5edc4;
    background: -webkit-gradient(linear, left top, left bottom, from(#e5edc4), to(#d9e4ac));
    background: -moz-linear-gradient(top,  #e5edc4,  #d9e4ac);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5edc4', endColorstr='#d9e4ac');
    color: #3f7227;
    text-shadow: 0 1px 0 #fff;
}

.message.warning
{
    border: 1px solid #e5dbaa;
    background: #ffffc0;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffc0), to(#f9ee9c));
    background: -moz-linear-gradient(top,  #ffffc0,  #f9ee9c);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffc0', endColorstr='#f9ee9c');
    color: #6d7829;
    text-shadow: 0 1px 0 #fff;
}

.gallery-sand .sorting
{
    background-color: white !important;
}
