
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    

    <title>
        
    SCMS - User Menu Rights

    </title>
    <link href="../../bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="../../Content/reset.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="../../Content/text.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="../../Content/grid.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="../../Content/layout.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="../../Content/nav.css" media="screen" />
    <!--[if IE 6]><link rel="stylesheet" type="text/css" href="css/ie6.css" media="screen" /><![endif]-->
    <!--[if IE 7]><link rel="stylesheet" type="text/css" href="css/ie.css" media="screen" /><![endif]-->
    <link href="../../Content/table/demo_page.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/zebra_datepicker.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
        html, body
        {
            height: 100%; /* The html and body elements cannot have any padding or margin. */
            padding: 0;
            margin: 0;
        }
    </style>
    <link href="../../Content/Custom.css" rel="stylesheet" type="text/css" />
    <!-- BEGIN: load jquery -->
    
    <script type="text/javascript" src="../../Scripts/jquery-ui/jquery.ui.core.min.js"></script>
    <script src="../../Scripts/jquery-ui/jquery.ui.widget.min.js" type="text/javascript"></script>
    <script src="../../Scripts/jquery-ui/jquery.ui.accordion.min.js" type="text/javascript"></script>
    <script src="../../Scripts/jquery-ui/jquery.effects.core.min.js" type="text/javascript"></script>
    <script src="../../Scripts/jquery-ui/jquery.effects.slide.min.js" type="text/javascript"></script>
    <script src="../../Scripts/jquery-ui/jquery.ui.mouse.min.js" type="text/javascript"></script>
    <script src="../../Scripts/jquery-ui/jquery.ui.sortable.min.js" type="text/javascript"></script>
    
    <script src="../../Scripts/jquery-ui-1.8.11.js" type="text/javascript"></script>
    <script src="../../Scripts/jquery-ui-1.8.11.min.js" type="text/javascript"></script>
    
    <script src="../../Scripts/table/jquery.dataTables.min.js" type="text/javascript"></script>
    <!-- END: load jquery -->
    <script src="../../Scripts/setup.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            setupLeftMenu();
            $('.datatable').dataTable({
                "sPaginationType": "full_numbers"
            });
            //setSidebarHeight();
        });
        function SetGrid() {
            $('.datatable').dataTable({
                "sPaginationType": "full_numbers"
            });
        }

    </script>
    <script src="../../Scripts/SCMS.js" type="text/javascript"></script>
    <script src="../../Scripts/jquery.inputmask.js" type="text/javascript"></script>
    <script src="../../Scripts/jquery.inputmask.extensions.js" type="text/javascript"></script>
    <script src="../../Scripts/jquery.lightbox_me.js" type="text/javascript"></script>
    <script src="../../Scripts/zebra_datepicker.js" type="text/javascript"></script>
</head>
<body>
    <div class="container_12" style="min-height: 94.9%; height: 94.9%; height: auto !important">
        <div class="grid_12 header-repeat">
            <div id="branding">
                <div class="floatleft">
                    
                    <h1 style="color: White;">
                        Financial Management System - v1.0</h1>
                </div>
                <div class="floatright">
                    <div class="floatleft">
                        <img src="../../img/img-profile.jpg" alt="Profile Pic" /></div>
                    <div class="floatleft marginleft10">
                        <ul class="inline-ul floatleft">
                            <li>Hello
                                khawaja</li>
                            
                            <li><a href="../Login/Logout">Logout</a></li>
                        </ul>
                        
                    </div>
                </div>
                <div class="clear">
                </div>
            </div>
        </div>
        <div class="clear">
        </div>
        <div class="grid_12">
            <ul class="nav main">
                <li class="ic-typography"><a href="../Home"><span>Home</span></a></li>
                <li class="ic-typography"><a href="javascript:" style="float: left"><span>Security</span></a>
                    <ul>
                        <li><a href="../UserGroup">User Groups</a> </li>
                        <li><a href="../User">Users</a> </li>
                        <li><a href="../UserRightsSetup">Menu Rights</a> </li>
                    </ul>
                </li>
                <li class="ic-typography"><a href="javascript:"><span>Setups</span></a>
                    <ul>
                        <li><a href="../Company">Company</a> </li>
                        <li><a href="../Location">Location</a> </li>
                        <li><a href="../City">City</a> </li>
                        <li><a href="../SupplierType">Supplier Types</a> </li>
                        <li><a href="../Supplier">Suppliers</a> </li>
                        <li><a href="../CustomerType">Customer Types</a> </li>
                        <li><a href="../Customer">Customers</a> </li>
                        <li><a href="../VoucherType">Voucher Type</a> </li>
                        <li><a href="../VoucherTypeNarration">Voucher Type Narration</a> </li>
                        <li><a href="../ChartOfAccount">Chart Of Account</a> </li>
                    </ul>
                </li>
                <li class="ic-typography"><a href="#"><span>Transactions</span></a>
                    <ul>
                        <li><a href="../VoucherEntryConsole">Voucher Entry Console</a> </li>
                        <li><a href="../Voucher/VoucherEntry">Voucher Entry</a> </li>
                    </ul>
                </li>
                <li class="ic-typography"><a href="#"><span>Reports</span></a>
                    <ul>
                        <li><a href="../ReportSelectionCriteria?ps_ReportName=Company">Company</a> </li>
                        <li><a href="../ReportSelectionCriteria?ps_ReportName=Location">Location</a> </li>
                        <li><a href="../ReportSelectionCriteria?ps_ReportName=City">City</a> </li>
                        <li><a href="../ReportSelectionCriteria?ps_ReportName=VoucherTypes">Voucher Types</a>
                        </li>
                        <li><a href="../ReportSelectionCriteria?ps_ReportName=ChartOfAccount">Chart Of Account</a>
                        </li>
                        <li><a href="../ReportSelectionCriteria?ps_ReportName=LedgerDetail">Ledger</a> </li>
                        <li><a href="../ReportSelectionCriteria?ps_ReportName=TrialBalance">Trial Balance</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="clear">
        </div>
        <div class="grid_12">
            
    <link rel="stylesheet" href="../../Widgets/jqwidgets/styles/jqx.base.css" type="text/css" />
    <script type="text/javascript" src="../../Widgets/scripts/gettheme.js"></script>
    <script type="text/javascript" src="../../Widgets/scripts/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="../../Widgets/jqwidgets/jqxcore.js"></script>
    <script type="text/javascript" src="../../Widgets/jqwidgets/jqxbuttons.js"></script>
    <script type="text/javascript" src="../../Widgets/jqwidgets/jqxscrollbar.js"></script>
    <script type="text/javascript" src="../../Widgets/jqwidgets/jqxpanel.js"></script>
    <script type="text/javascript" src="../../Widgets/jqwidgets/jqxtree.js"></script>
    <script type="text/javascript" src="../../Widgets/jqwidgets/jqxcheckbox.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            // Create jqxTree 
            var theme = getDemoTheme();
            // create jqxTree
            $('#jqxTree').jqxTree({ height: '400px', hasThreeStates: true, checkboxes: true, width: '330px', theme: theme });
            $('#jqxCheckBox').jqxCheckBox({ width: '200px', height: '25px', checked: true, theme: theme });
            $('#jqxCheckBox').on('change', function (event) {
                var checked = event.args.checked;
                $('#jqxTree').jqxTree({ hasThreeStates: checked });
            });

        });

        function GetUserMenu(value) {
            window.location = "../UserRightsSetup?SelectedGroup=" + value;
        }
    </script>
    <form id="frm_UserMenuSetup" action='/'>
    <div class="box round first fullpage grid" style="overflow: auto;">
        <h2>
            User Menu Rights Setup</h2>
        <div class="block">
            <div id="MessageBox">
            </div>
            <div id='jqxWidget' style="overflow: auto; clear: both; margin-bottom: 5px;">
                <div style='float: left;'>
                    <div style='margin-left: 0px;'>
                        <div style='margin-top: 0px;'>
                            <div class="CustomCell" style="width: 70px; height: 30px">
                                User Group</div>
                            <select id="ddl_UserGroups" name="ddl_UserGroups" onchange="GetUserMenu(this.value)" style="width:259px;"><option value="00001">Administrator</option>
<option selected="selected" value="00002">Location 2</option>
<option value="00003">Staffs</option>
</select>
                        </div>
                    </div>
                    <div id='jqxTree' style='margin-left: 0px;'>
                        <ul><li item-checked='false' item-expanded='true'>Setup<ul><li item-checked='true'>Company</li><li item-checked='false'>Location</li><li item-checked='false'>City</li><li item-checked='false'>Supplier Types</li><li item-checked='false'>Suppliers</li></ul></li><li item-checked='false' item-expanded='true'>Transactions<ul><li item-checked='false'>Voucher Entry Console</li><li item-checked='false'>Voucher Entry </li></ul></li><li item-checked='false' item-expanded='true'>Reports<ul><li item-checked='false'>Company</li><li item-checked='false'>Location</li><li item-checked='false'>City</li></ul></li></ul>
                    </div>
                </div>
            </div>
            <hr />
            <div style="float: right">
                <div style="float: left; margin-right: 5px;">
                    <input id="btn_Save" type="button" value="Save" class="btn btn-blue" onclick="SaveRecord();"
                        style="width: 90px; height: 35px; padding-top: 5px; color: White; font-weight: bold;
                        font-size: 11pt;" />
                    <img alt="" id="Waiting_Image" src="../../img/Ajax_Loading.gif" style="display: none;
                        margin-left: 10" /></div>
                <div style="float: left;">
                    <input type="button" value="Reset" class="btn btn-grey" onclick="ResetForm();" style="width: 90px;
                        height: 35px; padding-top: 5px; color: White; font-weight: bold; font-size: 11pt;" />
                </div>
            </div>
        </div>
    </div>
    </form>

        </div>
        <div class="clear">
        </div>
    </div>
    <div class="clear">
    </div>
    <div id="site_info" style="text-align: center;">
        <p>
            Copyright @2013. All Rights Reserved.
        </p>
    </div>
</body>
</html>
